In [1]:
import pandas as pd
import re
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score,accuracy_score

In [2]:
def preprocess_date(date_str):
    return re.sub(r'(\d+)(st|nd|rd|th)', r'\1', date_str)

In [3]:
file_path = r"F:\\flivo.csv"
df = pd.read_csv(file_path)
df.head()

         Name            Date        Status
0       Samay  29th July 2023  not approved
1       Megha  26th July 2023      approved
2  Vishwajeet  25th July 2023      approved

In [4]:
df["Date"] = pd.to_datetime(df["Date"].apply(preprocess_date))
df['Status'] = df['Status'].map({'approved': 1, 'not approved': 0})
df.head()

         Name       Date  Status
0       Samay 2023-07-29       0
1       Megha 2023-07-26       1
2  Vishwajeet 2023-07-25       1

In [5]:
date="1st August 2023"#deadline date 
deadline=pd.to_datetime(preprocess_date(date))
print(deadline)

2023-08-01 00:00:00

In [6]:
df['date_difference'] = -(df["Date"] - deadline).dt.days
df.head()

         Name       Date  Status  date_difference
0       Samay 2023-07-29       0                3
1       Megha 2023-07-26       1                6
2  Vishwajeet 2023-07-25       1                7

In [7]:
X = df[['date_difference']]
y = df['Status']
X_train, X_test, y_train, y_test = X,X,y,y

In [8]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [9]:
y_pred = model.predict(X_test)

In [10]:
r2_score = r2_score(y_test, y_pred)
print('R-squared score:', r2_score)
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

R-squared score: 1.0
Accuracy: 1.0

In [11]:
def approval(test,name,deadline):
    test_data=pd.to_datetime(preprocess_date(test))
    #print(test_data)
    test_diff=-(test_data -pd.to_datetime(preprocess_date(deadline))).days
    #print(test_diff)
    if(test_diff<0):
        print("The date requested '",test,"' is after the deadline '",deadline,"'")
    else:
        new_data = pd.DataFrame({'date_difference':[test_diff]})
        status=model.predict(new_data)
        #print(status)
        if (status==0):
            print("Leave not approved for ",name," on ",test)
        elif(status==1):
            print("Leave approved for ",name," on ",test)

In [12]:
#testing on user example1
name="Logesh"
test="27th July 2023"
date="1st August 2023"#deadline date 
approval(test,name,date)

Leave approved for  Logesh  on  27th July 2023

In [13]:
#testing on user example2
name="Logesh"
test="28th July 2023"
date="1st August 2023"#deadline date
approval(test,name,date)

Leave not approved for  Logesh  on  28th July 2023

In [14]:
#testing on user example2
name="Logesh"
test="8th August 2023"
date="1st August 2023"#deadline date
approval(test,name,date)

The date requested ' 8th August 2023 ' is after the deadline ' 1st August 2023 '